div[class*=" field-module-id-"]{
    display: none;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"]{
    margin-left: 0;
}

.module-container{
    margin: 30px 0;
    border: 1px solid #ccc;
    padding: 10px 10px 5px 10px;
    border-radius: 4px;
}

.action-container{
    margin: 30px 0;
    border: 1px solid #ccc;
    padding: 10px 10px 5px 10px;
    border-radius: 4px;
    position: relative;
}

.disabled-label{
    color: #aaaaaa;
}

.display-none{
    display: none;
}

.budget-error,
.module-actions-error,
.target-link-error{
    display: none;
    color: red;
}

.read-only{
    pointer-events: none;
}

.common-program-budget-container{
    position: fixed;
    z-index: 100;
    width: 200px;
    height: 200px;
    right: 100px;
    top: 100px;
    background-color: #aaaaaa;
    text-align: center;
}

.common-program-budget{
    color: green;
    font-size: 52px;
}

.common-program-budget-container label.error{
    font-style: normal;
    color: red;
}

.over-budget{
    color: red;
}

label.read-only {
    color: #aaa;
}

.toggle.btn{
    min-width: 100px!important;
    height: 36px!important;
}

.token-coefficient-container{
    padding-right: 0;
}

.currency-dropdown-container{
    padding-left: 0;
}

.token-coefficient-container .token-coefficient{
    border-radius: 4px 0 0 4px;
}

.currency-dropdown-container .currency-dropdown{
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.actionsFieldSet{
    position: relative;
}

label[id$='[action_id]-error']{
    position: absolute;
    bottom: 40px;
    left: 0;
    color: red;
}

.deadline{
    margin-top: 20px;
}

.one-action-container{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    position: relative;
}

.actions-rewards{
    margin-top: 20px;
}

.action-slider-container{
    padding-bottom: 10px;
    padding-top: 10px;
}

.slider.slider-horizontal{
    width: 100%;
}

.slider-selection {
    background: #BABABA;
}