.g-recaptcha{
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-content > .tab-pane{
    padding-top: 15px;
}

.task-container{
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px;
}

.task-facebook{
    background-color: #3f5d9b;
}

.task-twitter{
    background-color: #1da1f2;
}

.connect-text a{
    color: #fff;
    text-decoration: underline;
}